/* # Front-end Style Guide

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

#### Dark Theme

- Toggle: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%)

#### Light Theme

- Toggle: hsl(230, 22%, 74%)

- Font size (Overview Card Headings): 14px

### Font

- Family: [Inter](https://fonts.google.com/specimen/Inter)
- Weights: 400, 700 */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
    /* ### Primary */
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);

    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram-left: hsl(37, 97%, 70%);
    --Instagram-right: hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
}

.theme-dark {
    /* #### Dark Theme */
    /* --Very-Dark-Blue */
    --BG: hsl(230, 17%, 14%);
    /* --Very-Dark-Blue */
    --Top-BG-pattern: hsl(232, 19%, 15%);
    /* --Dark-Desaturated-Blue */
    --Card-BG: hsl(228, 28%, 20%);
    /* --Desaturated-Blue */
    --Text: hsl(228, 34%, 66%);
    /* --White */
    --Text2: hsl(0, 0%, 100%);
    /* Toggles */
    --Toggle: linear-gradient(hsl(208, 92%, 53%), hsl(163, 72%, 41%));
    --Toggle-switch: var(--BG);
}

.theme-light {
    /* #### Light Theme */
    /* --White */
    --BG: hsl(0, 0%, 100%);
    /* --Very-Pale-Blue */
    --Top-BG-pattern: hsl(225, 100%, 98%);
    /* --Light-Grayish-Blue */
    --Card-BG: hsl(227, 47%, 96%);
    /* --Dark-Grayish-Blue */
    --Text: hsl(228, 12%, 44%);
    /* --Very-Dark-Blue */
    --Text2: hsl(230, 17%, 14%);
    /* Toggles */
    --Toggle: hsl(230, 22%, 74%);
    --Toggle-switch: var(--BG);
}

body {
    color: var(--Text2);
    background-color: var(--BG);
    font-family: "Inter", sans-serif;
    font-size: 15px;
}

.wrapper {
    display: grid;
    grid-template-areas:
        'total-followers'
        'followers'
    ;
    margin: 10px;
}

/* Slider ///////////////////////////// */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--Toggle);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--Toggle-switch);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: var(--Toggle);
}

input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
}

input:checked+.slider:before {
    background: var(--Toggle-switch);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* End Slider///////////////////////// */


.sliderCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid;
    border-width: 2px;
    border-color: var(--Toggle);
    /* margin-top: 20px; */
    padding-top: 20px;
}

.sliderCont p {
    padding-right: 10px;
    font-size: 14px;
    font-weight: 600;

}

.heading>p {
    font-weight: 600;
    font-size: 1.7rem;
    margin: 20px 5px 5px 5px;
}

.heading p:nth-child(2) {
    margin: 20px 5px;
    font-size: 14px;
    font-weight: 600;
}

.social-cards {
    margin-top: 40px;
}

.social-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid;
    border-width: 4px;
    border-radius: 8px;
    background-color: var(--Card-BG);
    margin-bottom: 20px;
}

.social-card>p {
    display: flex;
    align-items: center;
}

.social-card p img {
    padding: 0px 10px;
    min-width: 10px;
}

.social-card .number {
    font-size: 45px;
    font-weight: 700;
    margin: 0;
}

.social-card .followers {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.social-card .red {
    color: var(--Bright-Red);
}

.social-card .green {
    color: var(--Lime-Green);
}

.social-card:nth-child(1) {
    border-color: var(--Facebook);
}

.social-card:nth-child(2) {
    border-color: var(--Twitter);

}

.social-card:nth-child(3) {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.social-card:nth-child(4) {
    border-color: var(--YouTube);
}

/* Overview section */
.bottom-heading{
    margin-bottom: 30px;

}
.overview-cards{
    background-color:var(--Card-BG);
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.overview .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.overview .top img{
    padding: 10px 0px;
    min-width: 0px;
}
.overview .top > p{
    margin: 0%;
}
.overview .bottom > p{
    margin: 0%;
}
.overview .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview .bottom img{
    padding: 4px;
}
.overview .bottom p:first-child{
    font-size: 24px;
    font-weight: 700;
}
.overview .bottom p:last-child{
    display: flex;
    align-items: center;
}
.green-num{
    color: var(--Lime-Green);
}
.red-num{
    color: var(--Bright-Red);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}